<h1>Import CSV</h1>

<%= form_with url: imports_path, multipart: true, local: true do |f| %>
  <div>
    <%= f.file_field :file, accept: ".csv" %>
  </div>

  <div>
    <%= f.submit "Import" %>
  </div>
<% end %>